{
 :system-type :pedestal
 
 :environment-variable-to-configuration-path
 {:environment [:environment]
  :aws_profile [:aws :profile]
  :aws_region  [:aws :region]}

 :schema
 {:name :schema

;;  :resolver-k-to-component-k
;;  {:get-hello :hello-component}

  :resolvers
  {:get-hello
   {:body "Hello."}}}
 
 :lacinia-pedestal-service {:graphiql true}

 :io-pedestal-http {:env :dev
                    :io.pedestal.http/join? false
                    :io.pedestal.http/port 8888
                    :io.pedestal.http/allowed-origins
                    {:allowed-origins ["http://localhost:8000"]
                     :creds true
                     :max-age 9999999999
                     :methods "GET, POST, OPTIONS"}}

 :endpoint {:protocol "http"
            :host "localhost"
            :port 8888
            :path "graphql"}}
